

@{ 
    System.Diagnostics.Debug.WriteLine(((List<WebShop.Models.Good>)Session["basket"])[0].GoodID);}



<<table class="table">


    @foreach (var item in (List<WebShop.Models.Good>)Session["basket"])
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoodID)
            </td>
        </tr>
    }

</table>
