@model WebShop.Models.Customer


<style>
    /* Styles for validation helpers
-----------------------------------------------------------*/
    .field-validation-error {
        color: #f00;
    }

    .field-validation-valid {
        display: none;
    }

    .input-validation-error {
        border: 1px solid #f00;
        background-color: #fee;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #f00;
    }

    .validation-summary-valid {
        display: none;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Оформить заказ</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FIO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FIO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Оформить" class="btn btn-default" />
            </div>
            <h3 class="text-center">
                
                @{  int sum = 0;
                    foreach (var item in (List<WebShop.Models.Good>)Session["basket"])
                    {
                        sum += item.Price * item.Amount;
                    }
                }
                Общая сумма:
                @sum
                P
            </h3>
        </div>
    </div>
}

<table class="table" margin="30px 0px">
    <tr>
        <th>
            Название
        </th>
        <th>
            Количество
        </th>
        <th>
            Цена
        </th>
    </tr>

    @foreach (var item in (List<WebShop.Models.Good>)Session["basket"])
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @{int price = item.Price * item.Amount;}
                @price
            </td>
        </tr>
    }


</table>

<div>
    @Html.ActionLink("Вернуться на главную", "../Goods/Index")
</div>
